
/* basic elements */
html {
    margin: 0;
    padding: 0;
    }
body { 
    /* font: 75% georgia, sans-serif; */
    line-height: 1.58889;
    font-family: roboto, arial, sans, sans-serif;
    color: #EEEEEE; 
    background: #EEEEEE;
    margin: 0; 
    padding: 0;
    }
p { 
    margin-top: 0; 
    margin-bottom: 0;
    text-align: justify;
    }
h3 {
    margin: 0;
}

a:link { 
    font-weight: bold; 
    text-decoration: none; 
    color: #B7A5DF;

    }
a:visited { 
    font-weight: bold; 
    text-decoration: none; 
    color: #D4CDDC;
    }
a:hover, a:focus, a:active { 
    text-decoration: underline; 
    color: #9685BA;
    }
abbr {
    border-bottom: none;
    }


header{
    background: #FF4747;
    margin: auto;
    text-align: center;
    position: relative;
    /* margin-top: 30px; */
    left: 0;
    right: 0;
    width: auto;
    padding: 30px 0px 100px 0px;
}
/*
header:after{
    content: "";
    display: box;
}*/

.intro{
    width: 100%;
}
.summary{
    margin-bottom: 0;
    position: relative;
    box-shadow: none;
    /* width: 100%; */
}
.summary p:nth-child(1){
    margin-top: -30px;
    padding-top: 15px;
    padding-left: 20px;
    background: #FF8947;
    width: 53%;
    padding-right: 200px;
    /* box-shadow: 6px 0px 4px -4px black; */
    /* box-shadow: 3px 3px 10px black; */

    -webkit-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.6);
    box-shadow: 3px 0px 6px 0px rgba(0,0,0,0.6);

    /* z-index: 2; */
    position: relative;
    /* overflow: hidden; */
}

.summary p:nth-child(2){
    background: #FF4747;
    float: right;
    width: 30%;
    padding: 30px 30px;
    z-index: 3;
    position: relative;

}

.summary p:nth-child(2) a{
    border: 1px solid black;
    background: rgba(0,0,0,0.3);
    padding: 4px;
    color: white;
    display: inline-block;
}


.preamble{
    background: #FF8947;
    margin-top: 0;
    padding-right: 200px;
    width: 53%;
    padding-top: 15px;
    padding-left: 20px;
    padding-bottom: 50px;

    -webkit-box-shadow: 3px 5px 4px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 3px 5px 4px 0px rgba(0,0,0,0.5);
    box-shadow: 3px 5px 4px 0px rgba(0,0,0,0.5);

    z-index: 2;
    position: relative;
    margin-top: -1px;
}

/*Change element order*/
.page-wrapper{
    display: -webkit-box;
    display: -moz-box;
    display: box;

    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

.sidebar{
    z-index: 3;
    position: relative;
    width: 100%;

    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
}
.sidebar ul{
    list-style-type: none;
}
.sidebar ul li:before{
    content: "\25EF"
}
.sidebar a {
    color: #FEfEfE;
}

.design-selection{
    margin-top: -20px;
    width: 55%;
    background: #FF4747;
    /* background: #F50000; */
    float: left;
    padding: 20px 0 60px 20px;
}
@media(max-width: 975px){
    .design-selection{
        margin-top: 50px;
        width: 55%;
        background: red;
        float: left;
        padding: 70px 0 60px 20px;
    }
    .sidebar{
        margin-top: -30px;
    }
}

.design-archives{
    width: 60%;
    padding: 5px 20px;
    background: #C9302C;
    /* float: right; */
    position: absolute;
    right: 0;
}

.zen-resources{
    width: 33%;
    margin-top: 20px;
    padding: 20px 0 50px 40px;
    background: #FEB547;
    /* background: #4286EC; */
    /* float: right; */
    position: absolute;
    right: 0;
}

.main{
    -webkit-box-ordinal-group: 3;
    -moz-box-ordinal-group: 3;
    box-ordinal-group: 3;
    width: 860px;
    margin: auto;
}

.main div {
    padding: 60px 20px;
    width: 800px;
    margin: -40px auto 0 auto;
}
.main div:nth-child(odd){
    background: gray;
}
.main div:nth-child(even){
    background: purple;
    margin-left: 60px;
}

.main div, .zen-resources, .design-archives, .zen-resources, .design-selection,.summary p:nth-child(2){
    /* box-shadow: 3px 3px 10px #111111; */
    -webkit-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.8);
    -moz-box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.8);
    box-shadow: 3px 3px 10px 0px rgba(0,0,0,0.8);
}


footer{
    text-align: center;
    padding: 20px 0;
    /* background: red; */
}
footer a{
    padding: 0 20px;
}